# Required settings:
# user / server - for remote deployments only.  Not required for local deploys.
# environment - for rails deployments
#               (or any others that have a deploy.environment.exclude file).

################################################################################
# Remote deployments only.
################################################################################

# If either user or server is set, it will be assumed that this is a remote
# deployment configuration.  If these are left out, a local deployment will
# be assumed.
user = user
server = server

################################################################################
# Both local and remote.
################################################################################

# Leave the project name off of the path.
# Default is /var/www
path = /root/path

# The environment that you are deploying to.
# These are primarily for rails deployments and should correspond to the
# configuration files in environments and the sections in the database.yaml.
# This will also be used to check for a deploy.environment.exclude file
# to use for additional exclusions.
environment = [development | test | production]

# Suffix to use for the site.
# (i.e. sitename.dev, sitename.test, etc.)
extension = [dev | test | local]

# Indicates whether the deployed changeset should be tagged.
# Remote deployments default to true while local deployments default to false.
tag-it = [true / yes / 1 | false / no / 0]

# The name of the branch that the push information should be committed to.
# By default, the default branch will be used.
branch = branch_name

# The value that will be prepended to the date/time stamp in the tag.
# If this value is not given, the name of this file will be used.
tag = tag_prefix

# The permissions after everything is copied.
# The default is 500.
permissions = 500
